<div id="modalLogin" class="modal hidden">
  <div class="modal-card floating">
    <button id="closeLogin" class="modal-close">×</button>
    <h3>Iniciar Sesión</h3>
    <form id="loginForm" class="form">
      <label>Correo <input name="email" type="email" required></label>
      <label>Contraseña <input name="password" type="password" required></label>
      <button type="submit" class="btn primary">Entrar</button>
    </form>
    <div class="text-center muted text-sm">
      ¿No tienes cuenta? 
      <button type="button" class="toggleModal" data-show="modalRegister" class="link">Registrarse aquí</button>
    </div>
  </div>
</div>